body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #9571f2;
    color: white;
    padding: 10px 0;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: auto;
    padding: 0 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #5adfcd;
    padding: 5px 10px; 
    transition: background 0.3s;
}
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
}
.first{
    padding: 10px;
}
h2 {
    color: #007BFF;
}
 ol {
    margin: 20px;
    padding: 0 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
    background: #a9aeb4;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer img {
    width: 30px;
    margin: 0 5px;
    vertical-align: middle;
}
.progress-table {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.progress-table table {
    width: 100%;
    border-collapse: collapse;
}
.progress-table th, .progress-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.progress div {
    height: 20px;
    background-color: #4CAF50;
    border-radius: 5px;
}
.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.image-container img {
    width: 150px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Logo Section */
div > img {
    display: block;
    margin: 20px auto;
    max-width: 150px;
    height: auto;
}

/* Social Media Links */
div > a img {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
